# https://ci.appveyor.com/project/mpi4py/mpi4py

image: Visual Studio 2019

environment:
  matrix:
    - PYTHON: "C:\\Python37-x64"
    - PYTHON: "C:\\Python38-x64"
    - PYTHON: "C:\\Python39-x64"
    - PYTHON: "C:\\Python310-x64"
    - PYTHON: "C:\\Python311-x64"
    - PYTHON: "C:\\Python312-x64"
    - PYTHON: "C:\\Python313-x64"

clone_depth: 1

branches:
  only:
    - master
    - maint
    - ci/all
    - ci/appveyor

init:
  - "ECHO Python from %PYTHON%"

install:
  # Python
  - "%PYTHON%\\python.exe --version"
  - "%PYTHON%\\python.exe -m pip install --upgrade pip setuptools wheel"
  - "%PYTHON%\\python.exe -m pip --version"
  - "%PYTHON%\\python.exe -m wheel version"
  # Microsoft MPI
  - "powershell .azure\\install-msmpi.ps1"
  - "SetEnvMPI.cmd"

build: false
build_script:
  - "%PYTHON%\\python.exe -m pip wheel -v --wheel-dir=dist ."

test: false
test_script:
  - "%PYTHON%\\python.exe -m pip install mpi4py --no-cache-dir --no-index --find-links=dist"
  - "\"%MSMPI_BIN%\\mpiexec.exe\" -n 1 %PYTHON%\\python.exe -m mpi4py --mpi-std-version"
  - "\"%MSMPI_BIN%\\mpiexec.exe\" -n 1 %PYTHON%\\python.exe -m mpi4py --mpi-lib-version"
  - "\"%MSMPI_BIN%\\mpiexec.exe\" -n 1 %PYTHON%\\python.exe %CD%\\test\\main.py -v"
  - "\"%MSMPI_BIN%\\mpiexec.exe\" -n 1 %PYTHON%\\python.exe %CD%\\demo\\futures\\test_futures.py -v"
  - "\"%MSMPI_BIN%\\mpiexec.exe\" -n 2 %PYTHON%\\python.exe %CD%\\demo\\futures\\test_futures.py -v"
  - "%PYTHON%\\python.exe %CD%\\demo\\test-run\\test_run.py -v"
  - "%PYTHON%\\python.exe -m pip uninstall --yes mpi4py"

artifacts:
  - path: dist\*
