# https://ci.appveyor.com/project/mpi4py/mpi4py

environment:

  global:
    BUILD: "cmd /E:ON /V:ON /C .\\conf\\ci\\appveyor\\build.cmd"

  matrix:
    - PYTHON: "C:\\Python27"
      ANACONDA: "C:\\Miniconda"

    - PYTHON: "C:\\Python27-x64"
      ANACONDA: "C:\\Miniconda-x64"

    - PYTHON: "C:\\Python35"
      ANACONDA: "C:\\Miniconda36"

    - PYTHON: "C:\\Python35-x64"
      ANACONDA: "C:\\Miniconda36-x64"

    - PYTHON: "C:\\Python36"
      ANACONDA: "C:\\Miniconda36"

    - PYTHON: "C:\\Python36-x64"
      ANACONDA: "C:\\Miniconda36-x64"

    - PYTHON: "C:\\Python37"
      ANACONDA: "C:\\Miniconda36"

    - PYTHON: "C:\\Python37-x64"
      ANACONDA: "C:\\Miniconda36-x64"

clone_depth: 5

branches:
  only:
    - master
    - maint
    - ci/appveyor

init:
  - "ECHO Python from %PYTHON%"
  - "ECHO Miniconda from %ANACONDA%"

install:
  # Python
  - "%PYTHON%\\python.exe --version"
  - "%PYTHON%\\python.exe -m pip install --upgrade pip"
  - "%PYTHON%\\python.exe -m pip --version"
  - "%PYTHON%\\python.exe -m pip install --upgrade wheel"
  - "%PYTHON%\\python.exe -m wheel version"
  # Cython
  - "%BUILD% %PYTHON%\\python.exe -m pip install Cython"
  - "%PYTHON%\\python.exe -m cython --version"
  # Microsoft MPI
  - "powershell conf\\ci\\appveyor\\install-msmpi.ps1"
  - "SetEnvMPI.cmd"

build: off
build_script:
  - "%BUILD% %PYTHON%\\python.exe setup.py build"
  - "%BUILD% %PYTHON%\\python.exe setup.py --quiet bdist_wheel"
  - "%BUILD% %PYTHON%\\python.exe setup.py --quiet bdist_msi"
  - "%BUILD% %PYTHON%\\python.exe setup.py --quiet bdist_wininst"

test: off
test_script:
  - "%PYTHON%\\Scripts\\pip.exe install --no-cache-dir --no-index --find-links=dist\\ mpi4py"
  - "\"%MSMPI_BIN%\\mpiexec.exe\" -n 1 %PYTHON%\\python.exe %CD%\\test\\runtests.py -v -f --no-builddir"
  - "\"%MSMPI_BIN%\\mpiexec.exe\" -n 1 %PYTHON%\\python.exe %CD%\\demo\\futures\\test_futures.py -v"
  - "\"%MSMPI_BIN%\\mpiexec.exe\" -n 2 %PYTHON%\\python.exe %CD%\\demo\\futures\\test_futures.py -v"
  - "%PYTHON%\\Scripts\\pip.exe uninstall --yes mpi4py"

after_test:
  - cmd: if  "%ANACONDA%"=="" appveyor exit
# - "%PYTHON%\\python.exe setup.py --quiet clean --all"
  - "set MPI=msmpi"
  - "set PATH=%ANACONDA%;%ANACONDA%\\Scripts\\;%PATH%"
  - "set CONDA_PY=%PYTHON:~9,2%"
  - "conda config --set show_channel_urls yes"
  - "conda update  --quiet --yes -n root conda"
  - "conda install --quiet --yes -n root conda-build"
  - "conda info --all"
  - "conda list"
  - "%BUILD% conda build --quiet conf\\ci\\anaconda\\mpi4py"
  - ps: "Move-Item $env:ANACONDA\\conda-bld\\win-*\\mpi4py-*.tar.bz2 dist\\ -Force"

artifacts:
  - path: dist\*

cache:
  - C:\Downloads\Python   -> conf\ci\appveyor\install-python.ps1
  - C:\Downloads\Anaconda -> conf\ci\appveyor\install-anaconda.ps1
  - C:\Downloads\MSMPI    -> conf\ci\appveyor\install-msmpi.ps1
  - '%LOCALAPPDATA%\pip\Cache'

#on_success:
#  - TODO: upload the content of dist\*.tar.bz2 to Anaconda
#  - TODO: upload the content of dist\*.whl to a public wheelhouse
