# https://coverage.readthedocs.io # -*- mode: conf -*-

[run]
source = mpi4py
branch = True
parallel = True
plugins = ${MPI4PY_COVERAGE_PLUGIN}

[paths]
source =
  src/mpi4py
  */mpi4py

[report]
exclude_lines =
  .*#\s*(pragma)[:\s]?\s*(no)\s*(cover)
  .*#\s*~>\s*
