[flake8]
ignore = W503,U101
per-file-ignores =
  conf/*: D
  docs/*: D
  src/mpi4py/futures/_core.py: D,B036
  src/mpi4py/futures/aplus.py: B036,D402
  src/mpi4py/futures/pool.py: D402
  src/mpi4py/futures/util.py: B036
  src/mpi4py/typing.py: U100
  src/mpi4py/util/pkl5.py: U100
  src/_mpi_dll_path.py: W504
unused-arguments-ignore-variadic-names = True
