[flake8]
ignore = E203,U100,U101,W503
extend-exclude =
  build,
  .venv,
per-file-ignores =
  cibw/*: D
  conf/*: D
  demo/*: D,S
  docs/*: D,S
  test/*: D,S
  setup.py: D,FS
  conf/metadata.py: D,E241
  conf/mpiapigen.py: D,FS
  conf/mpidistutils.py: D,E402
  demo/futures/test_futures.py: D,S,E402
  demo/mpi-ref-v1/*: D,S,F821
  src/mpi4py/futures/_core.py: D,B036
  src/mpi4py/futures/aplus.py: B036,D402
  src/mpi4py/futures/pool.py: D402
  src/mpi4py/futures/util.py: B036
unused-arguments-ignore-variadic-names = True
