/build/**
/dist/**
/.eggs/**
/MANIFEST
/.tox/**
**/__pycache__/

/docs/*.html
/docs/*.pdf
/docs/*.info
/docs/*.[137]
/docs/html/**
/docs/source/_build/**
/docs/source/reference/**

/src/mpi4py/MPI.c
/src/mpi4py/MPI.h
/src/mpi4py/MPI_api.h
/src/mpi4py/MPI.*.so
/src/mpi4py.egg-info/**
