build
docs/*.html
docs/*.pdf
docs/*.info
docs/*.[137]
docs/html
dist
MANIFEST
*.egg-info
.eggs
__pycache__
.tox
#src/mpi4py.MPI.c
#src/mpi4py/include/mpi4py/mpi4py.MPI.h
#src/mpi4py/include/mpi4py/mpi4py.MPI_api.h
