# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
  - id: fix-byte-order-marker
  - id: requirements-txt-fixer
  - id: check-toml
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-added-large-files

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.9
  hooks:
    - id: ruff-check
    - id: ruff-format

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell

- repo: https://github.com/adrienverge/yamllint
  rev: v1.37.1
  hooks:
    - id: yamllint
      args: [--strict]

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
    - id: shellcheck
