# https://pylint.readthedocs.io # -*- mode: conf -*-

[MASTER]
disable = locally-disabled,file-ignored,no-else-return
enable = useless-suppression
good-names = i,j,k,_,fn,tb
typealias-rgx=[_A-Z][_a-zA-Z0-9]*
reports = no
extension-pkg-allow-list =
    mpi4py,
    array,
    _socket,
    _struct,
