target-version = "py38"

src = ["src"]

line-length = 79

format.preview = true

lint.preview = true

lint.select = [
"A",
"B",
"C",
"D",
"E",
"F",
"G",
"I",
"Q",
"S",
"W",
"UP",
"ARG",
"ISC",
"PIE",
"PTH",
"PYI",
"RET",
"RSE",
"RUF",
"TID",
"TRY",
"YTT",
"FURB",
]

lint.ignore = [
"C901",
"PYI011",
"RET504",
"RET505",
"RUF012",
"RUF022",
"TID252",
"TRY003",
]

[lint.isort]
combine-as-imports = true

[lint.per-file-ignores]
"conf/*" = ["D"]
"demo/*" = ["D", "S"]
"docs/*" = ["D", "S"]
"test/*" = ["D", "S"]
"demo/mpi-ref-v1/*" = ["F821", "PTH123", "FURB101"]

[lint.pydocstyle]
convention = "pep257"
