# Some Linux distributions have RPM's for some MPI implementations.
# In such a case, headers and libraries usually are in default system
# locations, and you should not need any special configuration.

# If you do not have MPI distribution in a default location, please
# uncomment and fill-in appropriately the following lines. Yo can use
# as examples in [mpich2], [openmpi],  and [deinompi] sections
# below [mpi] section (wich is used by default one).

# If you specify multiple locations for includes and libraries,
# please separate them with the path separator for your platform,
# i.e., ':' on Unix-like systems and ';' on Windows


# Default configuration
# ---------------------
[mpi]

## mpi_dir              = /usr/local
## mpi_dir              = /usr/local/mpi
## mpi_dir              = /opt/mpi

## mpicc                = %(mpi_dir)s/bin/mpicc
## mpicxx               = %(mpi_dir)s/bin/mpicxx

## define_macros        =
## undef_macros         =
## include_dirs         = /usr/local/include
## libraries            = mpi
## library_dirs         = /usr/local/lib
## runtime_library_dirs = /usr/local/lib
## extra_compile_args   =
## extra_link_args      =
## extra_objects        =



# MPICH2 example
# --------------
[mpich2]

mpi_dir              = /usr/local/mpich2/1.0.8
mpicc                = %(mpi_dir)s/bin/mpicc
mpicxx               = %(mpi_dir)s/bin/mpicxx
include_dirs         = %(mpi_dir)s/include
libraries            = mpich rt
library_dirs         = %(mpi_dir)s/lib
runtime_library_dirs = %(library_dirs)s


# Open MPI example
# ----------------
[openmpi]

mpi_dir              = /usr/local/openmpi/1.2.8
mpicc                = %(mpi_dir)s/bin/mpicc
mpicxx               = %(mpi_dir)s/bin/mpicxx
include_dirs         = %(mpi_dir)s/include:%(mpi_dir)s/include/openmpi
libraries            = mpi open-rte open-pal nsl util m dl
library_dirs         = %(mpi_dir)s/lib:%(mpi_dir)s/lib/openmpi
runtime_library_dirs = %(library_dirs)s

# HP MPI example
# --------------
[hpmpi]

mpi_dir              = /opt/hpmpi
mpicc                = %(mpi_dir)s/bin/mpicc
mpicxx               = %(mpi_dir)s/bin/mpiCC
include_dirs         = %(mpi_dir)s/include
libraries            = mpi
#library_dirs         = %(mpi_dir)s/lib
#runtime_library_dirs = %(library_dirs)s


# ALTIX example
# -------------
[altix]

mpi_dir      = /usr
mpicc        = icc
mpicxx       = icpc
include_dirs = %(mpi_dir)s/include
libraries    = mpi
library_dirs = %(mpi_dir)s/lib
#runtime_library_dirs = %(library_dirs)s


# DeinoMPI example
# ----------------
[deinompi]

mpi_dir = $ProgramFiles\DeinoMPI
include_dirs = %(mpi_dir)s\include
libraries = mpi
library_dirs = %(mpi_dir)s\lib


# LAM/MPI example
# ---------------
[lam]

mpi_dir              = /usr/local/lam/7.1.3
mpicc                = %(mpi_dir)s/bin/mpicc
mpicxx               = %(mpi_dir)s/bin/mpicxx
include_dirs         = %(mpi_dir)s/include
libraries            = lammpio lamf77mpi mpi lam util dl
library_dirs         = %(mpi_dir)s/lib
runtime_library_dirs = %(library_dirs)s


# MPICH1 example
# --------------
[mpich1]

mpi_dir              = /usr/local/mpich1/1.2.7
mpicc                = %(mpi_dir)s/bin/mpicc
mpicxx               = %(mpi_dir)s/bin/mpicxx
include_dirs         = %(mpi_dir)s/include
libraries            = mpich
library_dirs         = %(mpi_dir)s/lib/shared:%(mpi_dir)s/lib
runtime_library_dirs = %(mpi_dir)s/lib/shared


# Local Variables:
# mode: Python
# End:
