include *.py *.cfg *.txt

recursive-include demo *.py *.txt *.pyx *.i *.c *.cxx *.f90 *.sh *.bat
recursive-include conf *.py *.txt *.cfg *.in *.sh *.bat
recursive-include src  *.py *.pyx *.px[di] *.h *.c *.i
recursive-include test *.py
recursive-include *    [M,m]akefile

include docs/*.html
include docs/*.pdf
recursive-include docs/usrman *
recursive-include docs/apiref *
recursive-include docs/source *

recursive-exclude docs/source/slides *
