include setup*.py *.cfg *.txt tox.ini

recursive-include demo *.py *.txt *.pyx *.i *.c *.cxx *.f90
recursive-include demo [M,m]akefile  *.sh *.bat
recursive-include conf *.py *.txt *.cfg *.in *.sh *.bat
recursive-include src  *.py *.pyx *.px[di] *.h *.c *.i
recursive-include test *.py

include docs/*.html
include docs/*.pdf
include docs/*.info
include docs/*.[137]
recursive-include docs/usrman *
recursive-include docs/apiref *
recursive-include docs/source *
