cffi    ; implementation_name == 'cpython' and python_version != '3.13'
numpy   ; implementation_name == 'cpython' or  python_version <= '3.11'
pyyaml  ; implementation_name == 'cpython' and python_version != '3.13'
