name: cd-sdist

on:  # yamllint disable-line rule:truthy
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:

  sdist:
    runs-on: ubuntu-latest
    steps:

    - uses: step-security/harden-runner@v2
      with:
        egress-policy: audit

    - id: checkout
      uses: actions/checkout@v6

    - id: source-date-epoch
      run: |
        # source-date-epoch
        SOURCE_DATE_EPOCH=$(git log -1 --pretty=%at)
        echo SOURCE_DATE_EPOCH=$SOURCE_DATE_EPOCH >> $GITHUB_ENV
        echo $(git log -1 --pretty=%ai) [timestamp=$SOURCE_DATE_EPOCH]

    - id: setup-python
      uses: actions/setup-python@v6
      with:
        python-version: 3
        pip-install: build twine

    - id: build
      run: python -m build --sdist

    - id: check
      run: python -m twine check dist/*.tar.gz

    - id: upload
      uses: actions/upload-artifact@v6
      with:
        name: sdist
        path: dist/*.tar.gz

    - id: report
      run: |
        artifact='Artifact: <${{ steps.upload.outputs.artifact-url }}>'
        echo $artifact >> $GITHUB_STEP_SUMMARY
        echo '```'     >> $GITHUB_STEP_SUMMARY
        sha256sum -b * >> $GITHUB_STEP_SUMMARY
        echo '```'     >> $GITHUB_STEP_SUMMARY
      shell: bash
      working-directory: dist
