name: dist

on:  # yamllint disable-line rule:truthy
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  contents: read

jobs:

  docs:
    runs-on: ubuntu-latest

    steps:

    - name: Install LaTeX
      run:  |
        # Install Tex Live
        sudo apt update && \
        sudo apt install -y \
           texlive-latex-base \
           texlive-latex-recommended \
           texlive-latex-extra \
           latexmk \
           texinfo

    - name: Checkout
      uses: actions/checkout@v4

    - name: Set SOURCE_DATE_EPOCH
      run:  |
        SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)
        echo SOURCE_DATE_EPOCH=$SOURCE_DATE_EPOCH >> $GITHUB_ENV
        echo $(git log -1 --pretty=%ci) [timestamp=$SOURCE_DATE_EPOCH]

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3

    - name: Upgrade pip
      run:  python -m pip install -U pip

    - name: Install tox
      run:  python -m pip install -U tox

    - name: Build documentation
      run:  python -m tox run -m docs

    - name: Archive documentation
      run: |
        ZIP=mpi4py-docs.zip
        ln -s docs ${ZIP%.zip}
        python -m zipfile -c $ZIP ${ZIP%.zip}

    - name: Upload documentation artifact
      uses: actions/upload-artifact@v4
      with:
        name: mpi4py-docs
        path: mpi4py-docs.zip

  sdist:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      attestations: write

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Set SOURCE_DATE_EPOCH
      run:  |
        SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)
        echo SOURCE_DATE_EPOCH=$SOURCE_DATE_EPOCH >> $GITHUB_ENV
        echo $(git log -1 --pretty=%ci) [timestamp=$SOURCE_DATE_EPOCH]

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3

    - name: Upgrade pip
      run:  python -m pip install -U pip

    - name: Install build and twine
      run:  python -m pip install -U build twine

    - name: Build source distribution
      run:  python -m build --sdist

    - name: Check source distribution
      run:  python -m twine check dist/mpi4py-*.tar.gz

    - name: Compute SHA256 checksum
      run:  sha256sum -b mpi4py-*.tar.gz >> sha256sum.txt
      working-directory: dist

    - name: Report SHA256 checksum
      run:  |
        echo '```'        >> $GITHUB_STEP_SUMMARY
        cat sha256sum.txt >> $GITHUB_STEP_SUMMARY
        echo '```'        >> $GITHUB_STEP_SUMMARY
      working-directory: dist

    - name: Upload distribution artifact
      uses: actions/upload-artifact@v4
      with:
        name: mpi4py-dist
        path: |
          dist/mpi4py-*.tar.gz
          dist/sha256sum.txt

    - if: ${{ github.event_name == 'release' }}
      name: Attest distribution artifact
      uses: actions/attest-build-provenance@v1
      with:
        subject-path: dist/mpi4py-*.tar.gz

  gh-publish:
    if: ${{ github.event_name == 'release' }}
    runs-on: ubuntu-latest
    needs: sdist
    environment:
      name: gh
      url: https://github.com/mpi4py/mpi4py/releases
    permissions:
      contents: write

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Download distribution artifact
      uses: actions/download-artifact@v4
      with:
        name: mpi4py-dist
        path: dist

    - name: Publish package distributions to GitHub Releases
      run:  gh release upload $TAG dist/mpi4py-*.tar.gz
      env:
        TAG: ${{ github.event.release.tag_name }}
        GITHUB_TOKEN: ${{ github.token }}

  pypi-publish:
    if: ${{ github.event_name == 'release' }}
    runs-on: ubuntu-latest
    needs: sdist
    environment:
      name: pypi
      url: https://pypi.org/p/mpi4py/
    permissions:
      id-token: write

    steps:

    - name: Download distribution artifact
      uses: actions/download-artifact@v4
      with:
        name: mpi4py-dist
        path: dist

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
