name: dist

on:
  push:
    branches:
      - gh-workflow/dist
  workflow_dispatch:

jobs:

  dist:
    runs-on: ubuntu-latest

    steps:

    - name: Install LaTeX distribution
      run:  |
        # Install Tex Live
        sudo apt update && \
        sudo apt install -y \
           texlive-latex-base \
           texlive-latex-recommended \
           texlive-latex-extra \
           latexmk \
           texinfo

    - name: Setup Python ${{ matrix.py }}
      uses: actions/setup-python@v4
      with:
        python-version: 3
        architecture: x64

    - name: Install Python packages
      run:  python -m pip install --upgrade tox

    - name: Checkout
      uses: actions/checkout@v3

    - name: Build source distribution
      run:  tox run -m dist

    - name: Compute SHA256
      run:  sha256sum dist/mpi4py-*.tar.gz

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: mpi4py-dist
        path: dist/mpi4py-*.tar.gz
